$alabaster: #fafafa;
$kobi: #ecb5cc;
$mulled-wine: #584a6d;
$prelude: #bdb1e3;
$prim: #f4eaf2;

$colors: (
  alabaster: $alabaster,
  kobi: $kobi,
  mulled-wine: $mulled-wine,
  prelude: $prelude,
  prim: $prim,
);
