@use 'sass:list';
@use 'sass:math';

$allowed-sizes: (
  1,
  2,
  4,
  6,
  8,
  9,
  10,
  12,
  14,
  16,
  18,
  20,
  24,
  30,
  36,
  48,
  60,
  78,
  96
);

@function px($size) {
  @if not list.index($allowed-sizes, $size) {
    @warn "px: '#{$size}' not in allowed sizes: #{$allowed-sizes}";
  }

  $base: 16;
  $rem: math.div($size, $base);

  @return #{$rem}rem;
}
