@use "../../packages/style-utilities/src/index" as e;

.Grayscale {
  font-family: e.$font-family--body;

  .grayscale-stop {
    align-items: center;
    display: flex;
    height: 100px;
    margin-bottom: 24px;

    &:last-child {
      border: 0;
    }

    span {
      border: 1px solid e.grayscale(50);
      display: inline-block;
      height: 100px;
      width: 100px;
      margin-right: 24px;
    }
  }
}
